
.node-full .field-name-field-message-child > .field-label,
.node-full .field-name-field-response-parent > .field-label {
  /*
  font-size: 110%;
  */
}

.node-full .field-name-field-message-child > .field-items,
.node-full .field-name-field-response-parent > .field-items {
  padding-left: 5px;
  margin-left: 1em;
  margin-bottom: 1em;
  background-color: #DEDEDE;
}

.node-response .field-name-body,
.node-message .field-name-body {
  margin-top: 1em;
}

.node-response .field-name-title-field {
  font-size: 120%;
  font-weight: bold;
}

