
/*
 * Customize CSS here!
 */

/*
 * Bartik does some strange stuff to taxonomy-term-reference fields that
 * mess up editablefields.
 */
.node-full.node-message form.editable-field .form-actions,
.node-full.node-response form.editable-field .form-actions {
  margin: 0;
  padding: 0;
}
.node-full.node-message > .content > .field-type-taxonomy-term-reference,
.node-full.node-response > .content > .field-type-taxonomy-term-reference {
  margin: 0;
  font-family: inherit;
}
.node-full.node-message > .content > .field-type-taxonomy-term-reference h3.field-label,
.node-full.node-response > .content > .field-type-taxonomy-term-reference h3.field-label {
  font-size: inherit;
  font-weight: bold;
}
.node-full.node-message > .content > .field-type-taxonomy-term-reference ul.links .editablefield-item li,
.node-full.node-response > .content > .field-type-taxonomy-term-reference ul.links .editablefield-item li {
  padding: 0;
}

/*
 * Fixes to 'diff' styling.
 */
table.diff {
  table-layout: auto;
}

